In [8]:
# Dependencies
import pandas as pd

# Store filepath in a variable
file_one = "Resources/state_population_data.txt"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")


# Show just the header
file_one_df.head()

,"Rank in the fifty states, 2016","Rank in all states & territories, 2010",State,Population estimate,"Census population, April 1, 2010","Total seats in House of Representatives, 2013â2023","Estimated pop. per House seat, 2016","Census pop. per House seat, 2010",Percent of total U.S. population
0,1,1,California,"39,250,017","37,254,503",53,"738,581","702,905",12.15%
1,2,2,Texas,"27,862,596","25,146,105",36,"763,031","698,487",8.62%
2,4,3,New York,"19,745,289","19,378,087",27,"733,177","717,707",6.11%
3,3,4,Florida,"20,612,439","18,804,623",27,"750,788","696,345",6.38%
4,5,5,Illinois,"12,801,539","12,831,549",18,"714,444","712,813",3.96%

In [9]:
three_field = file_one_df[["State" , "Population estimate" , "Percent of total U.S. population"]].head(100)
three_field.head()

        State Population estimate Percent of total U.S. population
0  California          39,250,017                           12.15%
1       Texas          27,862,596                            8.62%
2    New York          19,745,289                            6.11%
3     Florida          20,612,439                            6.38%
4    Illinois          12,801,539                            3.96%

In [13]:
three_field.to_csv("Resources/StateTerritory_population_v1.csv", index=False, header=True)

In [14]:
# gettting state abbrevation
state_abbrev = "Resources/state_abbrev.csv"

# stroring state abbrev in data frame
# Not every CSV requires an encoding, but be aware this can come up
state_abbrev_df = pd.read_csv(state_abbrev, encoding="ISO-8859-1")


# Show just the header
state_abbrev_df.head()

        State Abbreviation Postal Code
0     Alabama         Ala.          AL
1      Alaska       Alaska          AK
2     Arizona        Ariz.          AZ
3    Arkansas         Ark.          AR
4  California       Calif.          CA

In [15]:
## merging state to get postal code

merge_table_df = pd.merge(three_field, state_abbrev_df, on="State", how="right")

## dropping null value
state_pop_abbrev = merge_table_df.dropna()
state_pop_abbrev
final_state_pop=state_pop_abbrev.rename(columns={'State':'state_name','Postal Code':'State'})
final_state_pop

,state_name,Population estimate,Percent of total U.S. population,Abbreviation,State
0,California,"39,250,017",12.15%,Calif.,CA
1,Texas,"27,862,596",8.62%,Tex.,TX
2,New York,"19,745,289",6.11%,N.Y.,NY
3,Florida,"20,612,439",6.38%,Fla.,FL
4,Illinois,"12,801,539",3.96%,Ill.,IL
5,Pennsylvania,"12,784,227",3.96%,Pa.,PA
6,Ohio,"11,614,373",3.59%,Ohio,OH
7,Georgia,"10,310,371",3.19%,Ga.,GA
8,North Carolina,"10,146,788",3.14%,N.C.,NC
9,Michigan,"9,928,300",3.07%,Mich.,MI
10,New Jersey,"8,944,469",2.77%,N.J.,NJ
11,Virginia,"8,411,808",2.60%,Va.,VA
12,Washington,"7,288,000",2.26%,Wash.,WA
13,Arizona,"6,931,071",2.15%,Ariz.,AZ
14,Massachusetts,"6,811,779",2.11%,Mass.,MA
15,Tennessee,"6,651,194",2.06%,Tenn.,TN
16,Indiana,"6,633,053",2.05%,Ind.,IN
17,Missouri,"6,093,000",1.89%,Mo.,MO
18,Maryland,"6,016,447",1.86%,Md.,MD
19,Wisconsin,"5,778,708",1.79%,Wis.,WI
20,Colorado,"5,540,545",1.72%,Colo.,CO
21,Minnesota,"5,519,952",1.71%,Minn.,MN
22,South Carolina,"4,961,119",1.54%,S.C.,SC
23,Alabama,"4,863,300",1.51%,Ala.,AL
24,Louisiana,"4,681,666",1.45%,La.,LA
25,Kentucky,"4,436,974",1.37%,Ky.,KY
26,Oregon,"4,093,465",1.27%,Ore.,OR
27,Oklahoma,"3,923,561",1.21%,Okla.,OK
28,Connecticut,"3,576,452",1.11%,Conn.,CT
29,Puerto Rico,"3,411,307",1.06%,P.R.,PR
30,Iowa,"3,134,693",0.97%,Iowa,IA
31,Utah,"3,051,217",0.94%,Utah,UT
32,Mississippi,"2,988,726",0.93%,Miss.,MS
33,Arkansas,"2,988,248",0.93%,Ark.,AR
34,Nevada,"2,940,058",0.91%,Nev.,NV
35,Kansas,"2,907,289",0.90%,Kans.,KS
36,New Mexico,"2,081,015",0.64%,N.M.,NM
37,Nebraska,"1,907,116",0.59%,Nebr.,NE
38,West Virginia,"1,831,102",0.57%,W.Va.,WV
39,Idaho,"1,683,140",0.52%,Idaho,ID
40,Hawaii,"1,428,557",0.44%,Hawaii,HI
41,New Hampshire,"1,334,795",0.41%,N.H.,NH
42,Maine,"1,331,479",0.41%,Maine,ME
43,Rhode Island,"1,056,426",0.33%,R.I.,RI
44,Montana,"1,042,520",0.32%,Mont.,MT
45,Delaware,"952,065",0.30%,Del.,DE
46,South Dakota,"865,454",0.27%,S.D.,SD
47,North Dakota,"757,952",0.24%,N.D.,ND
48,Alaska,"741,894",0.23%,Alaska,AK
49,District of Columbia,"681,170",0.21%,D.C.,DC
50,Vermont,"624,594",0.19%,Vt.,VT
51,Wyoming,"585,501",0.18%,Wyo.,WY
52,Guam,"161,785",0.06%,Guam,GU

In [16]:
three_field.to_csv("Resources/State_population.csv", index=False, header=True)